.textfield
    border 1px solid
    width 500px
    height 500px
.li
    display flex

.del
    margin-left 15px
    margin-top: auto;
    margin-bottom: auto;
.img
    width 12px
    height 12px
    margin-top: auto;
    margin-bottom: auto;
    display: block;
